<div class="sidebar-right">
<div class="image"><%=image_tag("http://www.dowereallyneedthat.com/wp-content/uploads/2012/03/onethingtodolist.jpg")%></div>
  <h2>resources</h2>
  <h4><%= link_to "How to be efficient: 9 steps", "http://www.wikihow.com/Be-Efficient"%></h4>
  <h4><%= link_to "Things really efficient people do", "http://www.dowereallyneedthat.com/wp-content/uploads/2012/03/onethingtodolist.jpg"%></h4>
  <h4><%=link_to "10 life changing ways to make your day more efficient", "http://www.buzzfeed.com/generalelectric/10-lifechanging-ways-to-make-your-day-more-efficient" %></h4>
  <h4><%= link_to "10 tools to be more efficient", "http://www.forbes.com/sites/jaysondemers/2013/07/02/10-tools-to-make-you-more-efficient/"%></h4>
</div>
