<div class="form"> 
  <%= form_for [@list, Task.new] do |f| %> 
    <%= f.text_field :task_type, placeholder: "add a task" %><br/><br/>    
    <%= f.label :priority %><br/>
    <%= f.hidden_field :priority, class: "rating" %><br/>
    <%= f.hidden_field :complete, value: false %>
    <%= f.hidden_field :optimal, value: false %><br/>
    <%= f.label :duration_in_minutes %><br/>
    <%= f.text_field :duration_in_minutes, id: "duration", readonly: true %><br/>
    <div id="slider-range-max1"></div><br/>
  <%= f.submit %>
  <% end %> 
</div>
