<div class="form"> 

  <%= form_for (Task.new) do |f| %>
    <%= f.label :task_type, "Add a task" %><br>
    <%= f.text_field :task_type %><br/>
    <br/>

    <%= f.label :duration_in_minutes %><br/>
    <%= f.text_field :duration_in_minutes, id: "duration", readonly: true %><br/>

    <div id="slider-range-max1"></div><br/>

    <%= f.label :priority %><br/>
    <%= f.text_field :priority, id: "amount", readonly: true %><br/>

    <%= f.hidden_field :complete, value: false %>

    <%= f.hidden_field :optimal, value: false %>
    
    <div id="slider-range-max2"></div><br/>

    <%= f.submit %>
  <% end %> 
 
 

</div>