<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="tasks-index">
        <h1 class="title">TaskManager</h1>
        <h2>Prioritize your todo list</h2>
        <% @tasks.each do |task| %>
          <%= task.task_type %><br/>
          <%= task.priority %><br/>
          <%= task.duration_in_minutes %><br/>
        <% end %>
        <%= link_to "Create a new task", '#', class: "links create-link" %>
      <div class="hidden-form-container"><%= render partial: 'tasks/form' %></div>
      </div>
    </div>
  </div>
</div>