<div class="tasks-index">
<table style="margin: auto;">
      <thead>
        <tr>
          <h2><%=@task.task_type %></h2>
          <th>Status</th>
          <th>Priority</th>
          <th>Duration<span class="title-description"> (in minutes)</span></th>
          <th>Actions</th>
        </tr>
      </thead>
      <br/>
      <tbody>
        <tr>
          <td>
            <%= form_for @task do |f| %>
              <%= f.check_box :complete, class: "complete-check-box" %>
            <% end %>
          </td>
          <td><%= @task.task_type %></td>
          <td><%= @task.priority %></td>
          <td><%= @task.duration_in_minutes %></td>
          <td>
            <div class="links">
              <%= link_to "| Edit |", edit_task_path(@task)  %>
              <%= link_to "| Delete |", @task, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>