<div class="form">
    <%= form_for @fact do |f| %>  
      <%= f.label :question, "Question" %><br/>
      <%= f.text_field :question %><br/>
      
      <%= f.label :answer, "Answer" %><br/>
      <%= f.text_area :answer %><br/>

      <%= f.submit 'Submit' %>
    <% end %>
</div>