<h3><%= @post.title %></h3>    
<h4>
  <%= @post.body %><br/><br/>
  Posted: <%= time_ago_in_words(@post.created_at) %> 
  ago by: <%= @post.user.email %>
</h4>

<div class= "links">
<% if current_user == @post.user %>
  <%= link_to "Delete |", @post, method: :delete, data: {confirm: "You sure you want to delete this post?"} %>
  <%= link_to "Edit", edit_post_path(@post)%><br/>
<% end %>
</div>
</br>
<h4><%= link_to post_path(@post), method: :get, class: "comments-button btn btn-default btn-xs" do %> <span class="glyphicon glyphicon-pencil"></span>
      comments
      <%= @post.comments.count %>
      <% end %></h4>
<% @comments.each do |comment| %>
  <ul class="list-group">
    <li class="list-group-item">
      <h4>
        <%= comment.body %>
        <footer class="footer comment-footer">
          Posted: <%= time_ago_in_words(comment.created_at) %> ago by: <%= comment.user_name %>
        </footer> 
      </h4>
    </li>
  </ul>
<% end %>
<%= render partial: 'comments/form' %>
<%= link_to "Back", posts_path %>
    



