<div class= "form">
  <%= form_for @product do |f| %>
    <%= f.text_field :title, placeholder: "title" %><br/><br/>
    <%= f.text_area :description, placeholder: "description" %><br/><br/>
    <%= f.number_field :price, placeholder: "price", step: 'any' %><br/><br/>
    <%= f.number_field :stock, placeholder: "stock" %><br/><br/>
    <%= f.submit %><br/><br/>
  <% end %>
</div>

