<div class="container">
  <div class="products-index">
    <div class="products-table">
    <h1>InventoryTracker</h1>
    <%= link_to "Create a new product", '#', class: "links create-link" %>
    <div class="hidden-form-container"><%= render partial: 'form' %></div>
    <table>
      <thead>
        <tr>
          <h2>All Products</h2>
          <th>Image <br/></th>
          <th>Description <br/></th>
          <th>Price <br/></th>
          <th>Stock<br/></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td>
              <span class="product-image"><%= image_tag product.image_url %></span>
            </td> 
            <td>
              <span class="product-title"><%= product.title %></span><% product.description %>
            </td>
            <td>
              <span class="product-price"><%= print_price(product.price) %></span>
            </td>
            <td>
              <%= print_stock(product.stock) %>
            </td>
            <td>
              <div class="links">
                <%= link_to "View Product", product_path(product) %>
                <%= link_to "Delete Product", method: :destroy %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>