<div class="container">
  <div class="product-show">
    <p>
      <%= @product.image_url %>
    </p>

    <p>
      <h2>Title:</h2>
      <%= @product.title %>
    </p>

    <p>
      <h2>Price:</h2>
      <%= @product.price %>
    </p>

    <p>
      <h2>Description:</h2>
      <%= @product.description %>
    </p>

    <p>
      <h2>Stock:</h2>
      <%= @product.stock %>
    </p>
    <div class="links">
      <%= link_to 'Edit', edit_product_path(@product) %><br/> 
      <%= link_to '<< Back', products_path %>
    </div>
  </div>
</div>
