<!DOCTYPE html>
<html>
<head>
  <title>Miscellany</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <%= link_to "MISCELLANY", root_path, class: "navbar-brand" %>
    </div>
    <div class="container">
      <ul class="nav navbar-nav">
        <li><%= link_to "Blogger", posts_path %></li>
        <li><%= link_to "TaskManager", tasks_path %></li>
        <li><%= link_to "InventoryTracker", '#' %></li>
      </ul>
      <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "navbar-text navbar-right" %>
      <% end %>
    </div>
</nav>
<div class="container"><%= yield %></div>

</body>
</html>
